.login-container {
  display: flex;
  flex-direction: column;
}

.login-container .input-container {
  display: flex;
  gap: 4px;
  justify-content: space-between;
  width: 100%;
}

.login-container .trivia-logo {
  width: 360px;
}

.login-container .input-container input {
  border: 1px solid blue;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.login-container .button-64:disabled span {
  background-color: rgb(54, 54, 54);
}


@media only screen and ( min-width : 768px ) {

  .login-container .input-container {
    font-size: 1.2rem;
    height: 40px;
  }

}
