/* stylelint-disable max-line-length */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: linear-gradient(133deg, rgb(21, 74, 189) 0.1%, rgb(26, 138, 211) 51.5%, rgb(72, 177, 234) 100.2%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: Verdana , Geneva , Tahoma , sans-serif;
}

.form-container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.form-container .form {
  align-items: center;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  margin: 0 8px;
  padding: 16px;
}

.form-container .buttons-container {
  display: flex;
  gap: 4px;
  justify-content: space-between;
  width: 100%;
}

/* https://getcssscan.com/css-buttons-examples?
ref=beautifulboxshadow-bottom - button por GreenLight + ajustes meus */

.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 16px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  color: white;
  display: flex;
  justify-content: center;
  padding: 3px;
  text-decoration: none;
  touch-action: manipulation;
  user-select: none;
  width: 100%;
}

.button-64:not( :disabled ) {
  cursor: pointer;
}

.button-64:active, .button-64:not( :disabled ):hover {
  outline: 0;
}

.button-64 span {
  align-items: center;
  background-color: rgb(5, 6, 45);
  border-radius: 12px;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 4px;
  transition: 300ms;
  width: 100%;
}

.button-64:not( :disabled ):hover span {
  background: none;
}

@media only screen and ( min-width : 768px ) {

  .button-64 {
    font-size: 1.2rem;
  }
}
